################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.gitignore
/fa/bin/Debug/net9.0
/fa/obj
/fa.Tests
